name: CI - MAIN
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
jobs:
  Build:
    uses: devops-shop/roboshop-github-actions/.github/workflows/cicd-main.yml@main
    with:
      appType: 'maven'
      appName: 'shipping'
    secrets:
      vault_token: ${{ secrets.vault_token }}
